<div class="mt-4">
  <form method="post">
    <div class="mb-3">
      <label for="search-input" class="form-label">Keywords</label>
      <input
        type="text"
        class="form-control"
        id="search-input"
        name="q"
        placeholder="Search keywords..."
        aria-describedby="emailHelp"
      />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>